# Deny direct access to this directory
Order deny,allow
Deny from all

# Allow access to specific file types through PHP script
<FilesMatch "\.(sql|zip)$">
    Order deny,allow
    Deny from all
</FilesMatch>